# Server
PORT=8885
NODE_ENV=production
CORS_ORIGIN=https://mangolibreria.com,http://localhost:3000,https://api.mangolibreria.com,https://wwww.mangolibreria.com

# Database
DATABASE_URL=postgresql://servedb:tsG54ZdXfgh0izDyST8v@159.69.240.10:5668/postgres

# JWT
JWT_JWKS_URL=https://mangolibreria.com/api/auth/jwks

# Scraper config
SCRAPER_DELAY_MS=100
SCRAPER_IKIGAI_URL=https://refered-worker.techcometserver.workers.dev

BASE_URL=https://api.mangolibreria.com

# Better Auth
BETTER_AUTH_SECRET=testsecretkey
DISCORD_CLIENT_ID=someclientid
DISCORD_CLIENT_SECRET=sometestclientsecret
